@media screen and (max-width: 1023px) { 
    #vietnam {
        width: 18px;
        height: 18px;
    }
    .uni {
        width: 250px;
        height: 250px;
    }
    .submenu {
        display: flex;
        align-items: center;
        gap: 0 20px;
        list-style: none;
        &-link {
            text-decoration: none;
            color:$header_color;
        }
    }
    .header {
        display: none;
    }
    .main {
        max-width: 100vw;
        margin: 0;
        &__about, &__education, &__skills, &__projects {
            max-width: 100%;
        }
        &__about {
            &--name {
                font-size: 35px;
            }
            &--desc {
                font-size: 20px;
            }
            &--location {
                font-size: 20px;
            }
            &--mail {
                font-size: 18px;
            }
        }
        &__education {
            &--schoolname {
                font-size: 35px;
            }
            &--major {
                font-size: 28px;
            }
        }
        &__projects {
            &--header {
                font-size: 25px;
            }
        }
        &__copyright {
            font-size: 12px;
        }
    }
    .subheader {
        display: flex;
        align-items: center;
        gap: 0 150px;
        padding: 20px 50px;
        text-align: center;
        width: 100%;
        margin: 0;
        &__avatar--img {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            border: 3px solid $header_color;
            box-shadow: 0 0 5px $header_color;
        }
    }
    .menu-icon {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 767px) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    #logo {
        width: 20px;
        height: 20px;
    }
    .submenu {
        display: none;
    }
    .subheader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subheader__avatar {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .main {
        &__about, &__education, &__skills, &__projects {
            padding: 50px 20px;
            max-width: 100vw;
        }
        &__education {
            &--schoolname {
                font-size: 23px;
            }
            &--major {
                font-size: 22px;
            }
        }
        &__skills {
            &--header {
                font-size: 25px;
            }
            &--desc {
                font-size: 16px;
            }
        }
        &__projects {
            &--header {
                font-size: 22px;
            }
            &--desc {
                font-size: 15px;
            }
            &--explain {
                font-size: 20px;
            }
        }
        &__copyright {
            bottom: 50px;
            text-align: center;
            &>h2 {
                font-size: 12px;
            }
        }
    }
    .projects-link {
        font-size: 18px;
    }
}